In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sns.set(style='whitegrid', font_scale=1.5)

In [2]:
data = pd.read_csv('./data/vgsales.csv')

In [3]:
data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [4]:
#data = pd.concat((data.loc[:, 'Rank':'Publisher'], data[['Global_Sales']]), axis=1)

In [5]:
data = data.loc[~data.isna().any(axis=1)].copy()

In [6]:
data.Year = data.Year.astype('int')

In [7]:
data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [8]:
data = data.loc[(data.Global_Sales > .1) & (data.Year < 2020)].copy()

In [9]:
data.Platform.unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16'],
      dtype=object)

In [10]:
handhelds = ['DS','GBA','PSP', '3DS', 'GB', 'WS','PSV']
data.loc[data.Platform.isin(handhelds), 'System'] = 'Handheld'
data.loc[~data.Platform.isin(handhelds), 'System'] = 'Console'
data.loc[data.Platform == 'PC', 'System'] = 'PC'

In [11]:
data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,System
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,Console
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,Console
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,Console
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,Console
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,Handheld
...,...,...,...,...,...,...,...,...,...,...,...,...
10412,10414,Fairy Tail: Portable Guild,PSP,2010,Fighting,Konami Digital Entertainment,0.00,0.00,0.11,0.00,0.11,Handheld
10413,10415,Champion Jockey: G1 Jockey & Gallop Racer,Wii,2011,Sports,Tecmo Koei,0.05,0.04,0.01,0.01,0.11,Console
10414,10416,SimCity 2000,GBA,2003,Simulation,Zoo Digital Publishing,0.08,0.03,0.00,0.00,0.11,Handheld
10415,10417,Brunswick Circuit Pro Bowling 2,PS,2000,Sports,THQ,0.06,0.04,0.00,0.01,0.11,Console
10416,10418,D,PS,1995,Adventure,Acclaim Entertainment,0.00,0.00,0.10,0.01,0.11,Console

In [12]:
data.Platform.value_counts()

PS2     1494
DS      1091
PS3      983
X360     953
Wii      895
PS       892
PSP      537
XB       490
GBA      475
GC       335
PC       291
3DS      276
N64      251
PS4      211
SNES     190
PSV      153
XOne     147
2600     114
SAT      104
WiiU      99
NES       96
GB        92
DC        30
GEN       17
NG         6
WS         5
SCD        2
TG16       1
Name: Platform, dtype: int64

In [13]:
remove_platforms = ['NG', 'WS', 'SCD', 'TG16']

data = data.loc[~data.Platform.isin(remove_platforms)].copy()

In [14]:
# Adds 3 more columns: Hardware generation of platform that game was released on, 
# Type of system game was released on: Handheld or console,
# and platform manufacturer of the platform the game was released on

handheld_gens = {'GB': 4, 'DS':7, 'GBA':6, '3DS':8, 'PSP':7,'PSV':8}

console_gens = {'Wii':7, 'NES':3, 'X360':7, 'PS3':7,'PS2':6, 'SNES':4, \
                'PS4': 8, 'N64': 5, 'PS':5, 'XB':6, 'PC': 0, '2600':2, \
                'XOne': 8, 'GC':6, 'WiiU': 7, 'GEN':4, 'DC':6, 'SAT':5}

platform_creator = {'GB': 'Nintendo', 'DS':'Nintendo', 'GBA':'Nintendo', '3DS':'Nintendo', 'PSP':'Sony','PSV':'Sony', \
                   'Wii':'Nintendo', 'NES':'Nintendo', 'X360':'Microsoft', 'PS3':'Sony','PS2':'Sony', 'SNES':'Nintendo', \
                   'PS4': 'Sony', 'N64': 'Nintendo', 'PS':'Nintendo', 'XB':'Microsoft', 'PC': 'PC', '2600':'Atari', \
                   'XOne': 'Microsoft', 'GC':'Nintendo', 'WiiU': 'Nintendo', 'GEN':'Sega', 'DC':'Sega', 'SAT':'Sega'}

for x in handheld_gens:
    data.loc[data.Platform == x, 'Generation'] = handheld_gens[x]
    
for x in console_gens:
    data.loc[data.Platform == x, 'Generation'] = console_gens[x]
    
for x in platform_creator:
    data.loc[data.Platform == x, 'platform_creator'] = platform_creator[x]
    
data.loc[(data.Platform == 'PC') & (data.Year >= 1990), 'Generation'] = 1
data.loc[(data.Platform == 'PC') & (data.Year >= 2000), 'Generation'] = 2
data.loc[(data.Platform == 'PC') & (data.Year >= 2005), 'Generation'] = 3
data.loc[(data.Platform == 'PC') & (data.Year >= 2010), 'Generation'] = 4
    
data.Generation = data.Generation.astype('int')

In [15]:
data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,System,Generation,platform_creator
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,Console,7,Nintendo
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,Console,3,Nintendo
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,Console,7,Nintendo
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,Console,7,Nintendo
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,Handheld,4,Nintendo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10412,10414,Fairy Tail: Portable Guild,PSP,2010,Fighting,Konami Digital Entertainment,0.00,0.00,0.11,0.00,0.11,Handheld,7,Sony
10413,10415,Champion Jockey: G1 Jockey & Gallop Racer,Wii,2011,Sports,Tecmo Koei,0.05,0.04,0.01,0.01,0.11,Console,7,Nintendo
10414,10416,SimCity 2000,GBA,2003,Simulation,Zoo Digital Publishing,0.08,0.03,0.00,0.00,0.11,Handheld,6,Nintendo
10415,10417,Brunswick Circuit Pro Bowling 2,PS,2000,Sports,THQ,0.06,0.04,0.00,0.01,0.11,Console,5,Nintendo
10416,10418,D,PS,1995,Adventure,Acclaim Entertainment,0.00,0.00,0.10,0.01,0.11,Console,5,Nintendo

In [16]:
data.to_csv('./Data/augmented_vg_sales.csv', index=False)